<html>
<head>
	<title>MotoSport - Rio Haryanto Senang Dapat Finis di GP Monaco </title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styel.css">
	<link rel="stylesheet" type="text/css" href="soccer.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="btn-group" role="group" aria-label="..." style="float:left;">
						<div class="btn-group logo" role="group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img src="img/soccer.png">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" style="width:300px;">
								<li style="padding:20px 30px;"><a href="#"><img src="img/soccer.png">Soccer</a></li>
								<li style="padding:20px 30px;"><a href="#"><img src="img/basket.png">Basket</a></li>
								<li style="padding:20px 30px;"><a href="#"><img src="img/tinju.jpg">Tinju</a></li>
								<li style="padding:20px 30px;"><a href="#"><img src="img/motosport.jpg">MotoSport</a></li>
								<li style="padding:20px 30px;"><a href="#"><img src="img/raket.png">Raket</a></li>
								<li style="padding:20px 30px;"><a href="#"><img src="img/sportlain.jpg">Sport Lain</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control search1" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default button1">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>   
						</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#Daftar-modal" data-toggle="modal">Daftar</a></li>
						<li><a href="#login-modal" data-toggle="modal" class="btn-success">Login</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</div>
	</nav>
		<!-- daftar -->
<div class="container">
	<div class="modal fade" id="Daftar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Daftar FlashLine</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="exampleInputEmail1">Nama</label>
							<input type="text" class="form-control" id="exampleInputName" placeholder="Nama Lengkap">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Email</label>
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label>
							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Ulangi Password</label>
							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Daftar</button>
				</div>
			</div>
		</div>
	</div>
		<!-- Login-->
	<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Login FlashLine</h4>
				</div>
				<div class="modal-body">
					<form>
						<form>
							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label>
								<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Password</label>
								<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							</div>
						</form>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Login</button>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="judul">
			<img src="img/motosport.jpg">
			<h1><b>MOTOSPORT</b></h1></div>
		</div>
		<div class="row">
			<nav class="navbar navbar-inverse bawah">
			  <div class="container">
		 <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			      <ul class="nav navbar-nav">
			        <li><a href="#">HOME</a></li>
			        <li><a href="#">LIGA</a></li>
			        <li><a href="#">KLASEMEN</a></li>
			        <li><a href="#">NASIONAL</a></li>
			        <li><a href="#">INTERNASIONAL</a></li>
			        <li><a href="#">SIARAN LANGSUNG</a></li>
			       </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div>
			<div class="row wel">	
					<div class="col-md-9 content">
						<div class="content1 row">
							<h2><p>Rio Haryanto Senang Dapat Finis di GP Monaco </p></h2>
							<p>Senin, 30 Mei 2016</p>
							<img src="artikel/artikel8.jpg">
							<p>
								<b>MotoSport</b> - Pembalap Tim Manor Racing, Rio Haryanto, senang dapat finis di race keenam Formula One 2016 yang berlangsung di Sirkuit Monte Carlo, Monaco, Minggu 29 Mei 2016 malam WIB. Alasan driver berusia 23 tahun itu bangga karena mampu finis meski harus berjuang di trek basah yang sangat menyulitkan para pembalap. Rio memulai balapan dari posisi 19. Namun, start Rio dan pembalap lain tidak berjalan mulus, mengingat safety car menuntun ke-22 kontestan pada tujuh lap awal karena derasnya hujan yang turun di sirkuit jalan raya tersebut.

								<br><br>Baru pada lap kedelapan, safety car masuk ke pit stop dan memberi kesempatan bagi para pembalap untuk menunjukkan aksinya. Namun, balapan baru dilepas safety car selama satu lap, pembalap Tim Renault, Jolyon Palmer, menjadi sosok pertama yang gagal melanjutkan balapan karena jet daratnya menabrak pembatas sirkuit.

								<br><br>Tercatat sepanjang balapan, ada tujuh pembalap yang gagal finis. Termasuk Kimi Raikkonen (Ferrari) dan kampiun GP Katalunya, Max Verstappen (Red Bull). Sementara itu, Rio menyelesaikan balapan di posisi 15, terpaut satu anak tangga dari rekan setimnya, Pascal Wehrlein. Melihat banyaknya pembalap yang gagal finis, tak heran Rio cukup senang dapat menyelesaikan balapan. “Meskipun jalani hari yang berat, itu merupakan cara istimewa untuk balapan pertama saya di Grand Prix Monaco pertama,” jelas Rio, dalam keterangan pers yang diterima Okezone,  


								<br><br>Sumber: <a href="www.okezoneSports.com/f1">www.okezoneSports.com/f1</a>
							</p>
						</div>		
					<div class = "komentar" style="widht:100%">
						<h3>KOMENTAR</h3>
					<textarea class="form-control" rows="3"></textarea>
					<button type="submit" class="btn btn-primary">Submit</button>
					</div>
					</div>
					<div class="col-md-3 sidebar">
						<div class="iklan">
							<img src="img/iklan.png">
						</div>
						<div class="last-News">
							<img src="img/LN.jpg">
							<ul>
								<li><a href="soccer-Tiga-Bintang-Inter-Dilarang-Hengkang.html">Tiga Bintang Inter Dilarang Hengkang</a></li>
								<li><a href="raket-thomas-uber1.html">Alasan Tim Piala Thomas Indonesia Kembali Turunkan Tommy Sugiarto</a></li>
								<li><a href="MotoSport-Rio-Haryanto-Cetak.html">Rio Haryanto Cetak Catatan Terbaik di Sirkuit de Catalunya Barcelona</a></li>
								<li><a href="MotoSport-Hasil-Lengkap-GP-Italia.html">Hasil Lengkap GP Italia dan Klasemen MotoGP 2016</a></li>
								<li><a href="soccer_persib.html">Persib Sudah Dapat Tawaran Laga Internasional</a></li>
								<li><a href="raket-Tim-Uber-Indonesia-Harus-Akui.html">Tim Uber Indonesia Harus Akui Keunggulan Thailand</a></li>
								<li><a href="soccer-Tanpa-Ibrahimovic-Swedia.html">Tanpa Ibrahimovic, Swedia Diimbangi Slovenia</a></li>
							</ul>
						</div>
					</div>
				</div>
				</div>
	<div class="footer">
		<div class="footer" style="background:#314239;">
		<div class="container">
			<div class="col-md-12 container_32 mt20">
				<div class="col-md-6 grid_18">
					<div class=" row ml20">
						<img src="artikel/judul1.png">
					</div>
					<div class="row mt10">
						<span class="mr10" style="color:#fff;">Support By:</span>
					</div>
					<div class="partner mt40">
						<ul>
							<li><a href="#"><img src="artikel/mnc.png"></a></li>
							<li><a href="#"><img src="artikel/s.png"></a></li>
							<li><a href="#"><img src="artikel/sindo.png"></a></li>
						</ul>
					</div>
				</div>
	 			<div class="col-md-6 grid_14">
	 				<div class="col-md-6 w160 fl-l link-foot"><span>CHANNEL</span>
	 					<ul>
	 						<li><a href="#">Home</li></a>
	 						<li><a href="#">Sport</li></a>
	 						<li><a href="#">Nasional</li></a>
	 						<li><a href="#">Internasional</li></a>
	 						<li><a href="#">Siaran Langsung</li></a>
	 					<ul>
	 				</div>
		 			<div class="col-md-6 w160 fl-l link-foot"><span>SPORT</span>
	 					<ul>
	 							<li><a href="#">Soccer</li></a>
		 						<li><a href="#">Basket</li></a>
		 						<li><a href="#">Tinju</li></a>
		 						<li><a href="#">MotoSport</li></a>
		 						<li><a href="#">Raket</li></a>
		 						<li><a href="#">Sport Lain</li></a>
		 						<li><a href="#">Galeri</li></a>
	 					<ul>
	 				</div>
		 			<div class="col-md-4 w160 fl-l link-foot"><span>MANAGEMENT</span>
	 					<ul>
	 						<li><a href="Redaksi.html">Tentang Kami</li></a>
	 						<li><a href="Redaksi.html">Kontak Kami</li></a>
	 						<li><a href="Redaksi.html">Iklan Kami</li></a>
	 						<li><a href="Redaksi.html">Redaksi</a></li>
							<li><a href="Redaksi.html">Karir</a></li>
							<li><a href="Redaksi.html">Disclamer</a></li>
							<li><a href="Redaksi.html">Privacy policy</a></li>
	 					</ul>
	 				</div>
				</div>
			</div>
		</div>
		</div>
		<div class="garis" style="background-color:#fff; border: 1px solid #fff;">
		</div>
		<div class="garis" style="background-color:#fff; border: 2px solid #10bb60;">
		</div>
		<div class="garis" style="background-color:#fff; border: 1px solid #fff;">
		</div>
		<div class="container">
			<div class="footerr">
				<p>Copyright & 2016 FlashLine, All right reserved </p>
			</div>
		</div>
	</div>
		
	</div>
</body>
</html>