<!DOCTYPE html>
<html>
<head>
	<title>FlashLine</title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styel.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="btn-group" role="group" aria-label="..." style="float:left;">
						<div class="btn-group logo" role="group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img src="img/2.png">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" style="width:300px;">
								<li style="padding:20px 30px;"><a href="#"><img src="img/2.png">Soccer</a></li>
								<li style="padding:20px 30px;"><a href="#"><img src="img/beladiri.png">Bela Diri</a></li>
								<li style="padding:20px 30px;"><a href="#"><img src="img/otomotif.png">Otomotif</a></li>
								<li style="padding:20px 30px;"><a href="#"><img src="img/6.png">Raket</a></li>
								<li style="padding:20px 30px;"><a href="#"><img src="img/5.png">Lainnya</a></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control search1" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default button1">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>   
						</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#Daftar-modal" data-toggle="modal">Daftar</a></li>
						<li><a href="#login-modal" data-toggle="modal" class="btn-success">Login</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</div>
	</nav>
	<!-- daftar -->
	<div class="container">
		<div class="modal fade" id="Daftar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Daftar FlashLine</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="exampleInputEmail1">Nama</label>
								<input type="text" class="form-control" id="exampleInputName" placeholder="Nama Lengkap">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Email</label>
								<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Password</label>
								<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Ulangi Password</label>
								<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Daftar</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Login-->
		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Login FlashLine</h4>
					</div>
					<div class="modal-body">
						<form>
							<form>
								<div class="form-group">
									<label for="exampleInputEmail1">Email address</label>
									<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Password</label>
									<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
								</div>
							</form>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Login</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="judul">
				<img src="img/judul.png">
			</div>
		</div>
		<div class="row">
			<nav class="navbar navbar-inverse bawah">
			  <div class="container">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			      <ul class="nav navbar-nav">
			        <li><a href="#">HOME</a></li>
			        <li><a href="#">NASIONAL</a></li>
			        <li><a href="#">INTERNASIONAL</a></li>
			        <li><a href="#">SIARAN LANGSUNG</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div>
		<div class="row">	
		<div class="col-md-3 sidebar">
				
				<div class="management">
					<ul>
						<li><a href="management.html">Redaksi</a></li>
		 				<li><a href="pedomanmediasiber.html">pedoman Media Siber</li></a>
		 				<li><a href="infoiklan.html">Info Iklan</li></a>
						<li><a href="mediapartner">Media Partner</li></a>
						<li><a href="disclaimer.html">Disclamer</a></li>
						<li><a href="privacy-police.html">Privacy policy</a></li>
						<li><a href="copyright.html">Copyright</a></li>
		 				</ul>
				</div>
				<div class="iklan">
					<img src="img/iklan.png">
					<img src="img/iklan.png">
					<img src="img/iklan.png">
					<img src="img/iklan.png">
					<img src="img/iklan.png">
					<img src="img/iklan.png">
				</div>
			</div>
			<div class="col-md-9 content">
				<div class="content1 row">
					<h2>Pedoman Media Siber</h2>
					<div class="col-md-12 redaksi">
						<p>Pedoman Pemberitaan Media Siber
Kemerdekaan berpendapat, kemerdekaan berekspresi, dan kemerdekaan pers adalah hak asasi manusia yang dilindungi Pancasila, Undang-Undang Dasar 1945, dan Deklarasi Universal Hak Asasi Manusia PBB. Keberadaan media siber di Indonesia juga merupakan bagian dari kemerdekaan berpendapat, kemerdekaan berekspresi, dan kemerdekaan pers.
<br>
Media siber memiliki karakter khusus sehingga memerlukan pedoman agar pengelolaannya dapat dilaksanakan secara profesional, memenuhi fungsi, hak, dan kewajibannya sesuai Undang-Undang Nomor 40 Tahun 1999 tentang Pers dan Kode Etik Jurnalistik. Untuk itu Dewan Pers bersama organisasi pers, pengelola media siber, dan masyarakat menyusun Pedoman Pemberitaan Media Siber sebagai berikut:
<br>
1. Ruang Lingkup<br>
Media Siber adalah segala bentuk media yang menggunakan wahana internet dan melaksanakan kegiatan jurnalistik, serta memenuhi persyaratan Undang-Undang Pers dan Standar Perusahaan Pers yang ditetapkan Dewan Pers.
Isi Buatan Pengguna (User Generated Content) adalah segala isi yang dibuat dan atau dipublikasikan oleh pengguna media siber, antara lain, artikel, gambar, komentar, suara, video dan berbagai bentuk unggahan yang melekat pada media siber, seperti blog, forum, komentar pembaca atau pemirsa, dan bentuk lain.
<br>
2. Verifikasi dan keberimbangan berita<br>
Pada prinsipnya setiap berita harus melalui verifikasi.
Berita yang dapat merugikan pihak lain memerlukan verifikasi pada berita yang sama untuk memenuhi prinsip akurasi dan keberimbangan.<br>
Ketentuan dalam butir (a) di atas dikecualikan, dengan syarat:<br>
Berita benar-benar mengandung kepentingan publik yang bersifat mendesak;
Sumber berita yang pertama adalah sumber yang jelas disebutkan identitasnya, kredibel dan kompeten;<br>
Subyek berita yang harus dikonfirmasi tidak diketahui keberadaannya dan atau tidak dapat diwawancarai;<br>
Media memberikan penjelasan kepada pembaca bahwa berita tersebut masih memerlukan verifikasi lebih lanjut yang diupayakan dalam waktu secepatnya. Penjelasan dimuat pada bagian akhir dari berita yang sama, di dalam kurung dan menggunakan huruf miring.<br>
Setelah memuat berita sesuai dengan butir (c), media wajib meneruskan upaya verifikasi, dan setelah verifikasi didapatkan, hasil verifikasi dicantumkan pada berita pemutakhiran (update) dengan tautan pada berita yang belum terverifikasi.
<br>
3. Isi Buatan Pengguna (User Generated Content)<br>
Media siber wajib mencantumkan syarat dan ketentuan mengenai Isi Buatan Pengguna yang tidak bertentangan dengan Undang-Undang No. 40 tahun 1999 tentang Pers dan Kode Etik Jurnalistik, yang ditempatkan secara terang dan jelas.<br>
Media siber mewajibkan setiap pengguna untuk melakukan registrasi keanggotaan dan melakukan proses log-in terlebih dahulu untuk dapat mempublikasikan semua bentuk Isi Buatan Pengguna. Ketentuan mengenai log-in akan diatur lebih lanjut.<br>
Dalam registrasi tersebut, media siber mewajibkan pengguna memberi persetujuan tertulis bahwa Isi Buatan Pengguna yang dipublikasikan:
Tidak memuat isi bohong, fitnah, sadis dan cabul;<br>
Tidak memuat isi yang mengandung prasangka dan kebencian terkait dengan suku, agama, ras, dan antargolongan (SARA), serta menganjurkan tindakan kekerasan;<br>
Tidak memuat isi diskriminatif atas dasar perbedaan jenis kelamin dan bahasa, serta tidak merendahkan martabat orang lemah, miskin, sakit, cacat jiwa, atau cacat jasmani.<br>
Media siber memiliki kewenangan mutlak untuk mengedit atau menghapus Isi Buatan Pengguna yang bertentangan dengan butir (c).<br>
Media siber wajib menyediakan mekanisme pengaduan Isi Buatan Pengguna yang dinilai melanggar ketentuan pada butir (c). Mekanisme tersebut harus disediakan di tempat yang dengan mudah dapat diakses pengguna.<br>
Media siber wajib menyunting, menghapus, dan melakukan tindakan koreksi setiap Isi Buatan Pengguna yang dilaporkan dan melanggar ketentuan butir (c), sesegera mungkin secara proporsional selambat-lambatnya 2 x 24 jam setelah pengaduan diterima.<br>
Media siber yang telah memenuhi ketentuan pada butir (a), (b), (c), dan (f) tidak dibebani tanggung jawab atas masalah yang ditimbulkan akibat pemuatan isi yang melanggar ketentuan pada butir (c).<br>
Media siber bertanggung jawab atas Isi Buatan Pengguna yang dilaporkan bila tidak mengambil tindakan koreksi setelah batas waktu sebagaimana tersebut pada butir (f).
<br>
4. Ralat, Koreksi, dan Hak Jawab<br>
Ralat, koreksi, dan hak jawab mengacu pada Undang-Undang Pers, Kode Etik Jurnalistik, dan Pedoman Hak Jawab yang ditetapkan Dewan Pers.
Ralat, koreksi dan atau hak jawab wajib ditautkan pada berita yang diralat, dikoreksi atau yang diberi hak jawab.<br>
Di setiap berita ralat, koreksi, dan hak jawab wajib dicantumkan waktu pemuatan ralat, koreksi, dan atau hak jawab tersebut.<br>
Bila suatu berita media siber tertentu disebarluaskan media siber lain, maka:<br>
Tanggung jawab media siber pembuat berita terbatas pada berita yang dipublikasikan di media siber tersebut atau media siber yang berada di bawah otoritas teknisnya;<br>
Koreksi berita yang dilakukan oleh sebuah media siber, juga harus dilakukan oleh media siber lain yang mengutip berita dari media siber yang dikoreksi itu;<br>
Media yang menyebarluaskan berita dari sebuah media siber dan tidak melakukan koreksi atas berita sesuai yang dilakukan oleh media siber pemilik dan atau pembuat berita tersebut, bertanggung jawab penuh atas semua akibat hukum dari berita yang tidak dikoreksinya itu.
Sesuai dengan Undang-Undang Pers, media siber yang tidak melayani hak jawab dapat dijatuhi sanksi hukum pidana denda paling banyak Rp500.000.000 (Lima ratus juta rupiah).
<br>
5. Pencabutan Berita<br>
Berita yang sudah dipublikasikan tidak dapat dicabut karena alasan penyensoran dari pihak luar redaksi, kecuali terkait masalah SARA, kesusilaan, masa depan anak, pengalaman traumatik korban atau berdasarkan pertimbangan khusus lain yang ditetapkan Dewan Pers.
Media siber lain wajib mengikuti pencabutan kutipan berita dari media asal yang telah dicabut.<br>
Pencabutan berita wajib disertai dengan alasan pencabutan dan diumumkan kepada publik.
<br>
6. Iklan<br>
Media siber wajib membedakan dengan tegas antara produk berita dan iklan.
Setiap berita/artikel/isi yang merupakan iklan dan atau isi berbayar wajib mencantumkan keterangan</p>

					</div>
				</div>	
					
			</div>
			
			<div class="row" >
				<div class="col-md-4">
						<div class="linkshare">
							<ul>
								<li><a href="#"><img src="img/twitter.png"></a></li>
								<li><a href="#"><img src="img/twitter.png"></a></li>
								<li><a href="#"><img src="img/twitter.png"></a></li>
								<li><a href="#"><img src="img/twitter.png"></a></li>
							</ul>
						</div>
					
				</div>
				<div class="col-md-8 iklan2">
					<img src="img/iklan1.png">
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="row" style="background:#314239; margin-right: 0px;margin-left: 0px;">
			<div class="container">
				<div class="col-md-12 container_32 mt20">
					<div class="col-md-6 grid_18">
						<div class=" row ml20">
							<img src="artikel/judul1.png">
						</div>
						<div class="row mt10">
							<span class="mr10" style="color:#fff;">Support By:</span>
						</div>
						<div class="partner mt40">
							<ul>
								<li><a href="#"><img src="artikel/mnc.png"></a></li>
								<li><a href="#"><img src="artikel/s.png"></a></li>
								<li><a href="#"><img src="artikel/sindo.png"></a></li>
								<li><a href="#"><img src="artikel/detik.png"></a></li>
								<li><a href="#"><img src="artikel/kompas.jpg"></a></li>
								<li><a href="#"><img src="artikel/goal.jpg"></a></li>
							</ul>
						</div>
					</div>
		 			<div class="col-md-6 grid_14">
		 				<div class="col-md-6 w160 fl-l link-foot"><span>CHANNEL</span>
		 					<ul>
		 						<li><a href="#">Home</li></a>
		 						<li><a href="#">Sport</li></a>
		 						<li><a href="#">Nasional</li></a>
		 						<li><a href="#">Internasional</li></a>
		 						<li><a href="#">Siaran Langsung</li></a>
		 					<ul>
		 				</div>
			 			<div class="col-md-6 w160 fl-l link-foot"><span>SPORT</span>
		 					<ul>
		 						<li><a href="#">Basket</li></a>
		 						<li><a href="#">MotoGP</li></a>
		 						<li><a href="#">F1</li></a>
		 						<li><a href="#">Raket</li></a>
		 						<li><a href="#">Sepak Bola</li></a>
		 						<li><a href="#">Sport Lain</li></a>
		 						<li><a href="#">Galeri</li></a>
		 					<ul>
		 				</div>
			 			<div class="col-md-4 w160 fl-l link-foot"><span>MANAGEMENT</span>
		 					<ul>
		 						<li><a href="#">Tentang Kami</li></a>
		 						<li><a href="#">Kontak Kami</li></a>
		 						<li><a href="#">Iklan Kami</li></a>
		 						<li><a href="#">Readaksi</a></li>
								<li><a href="#">Karir</a></li>
								<li><a href="#">Disclamer</a></li>
								<li><a href="#">Privacy policy</a></li>
		 					</ul>
		 				</div>
					</div>
				</div>
			</div>
		</div>
		<div class="garis" style="background-color:#fff; border: 2px solid #fff;">
		</div>
		<div class="garis" style="background-color:#fff; border: 6px solid #10bb60;">
		</div>
		<div class="garis" style="background-color:#fff; border: 2px solid #fff;">
		</div>
		<div class="container">
			<div class="footerr"style="text-align:center;">
				<p>Copyright&2016 FlashLine, All Right Reserved </p>
			</div>
			</div>
	
</body>
</html>